<div class="fixed-action-btn" style="left: 23px;">
    <a href="#" class="btn-floating btn-large blue darken-2 sidenav-trigger" data-target="slide-out"><i class="fas fa-ellipsis-v"></i></a>
</div>
  <ul id="slide-out" class="sidenav">
    <li><div class="user-view">
      <div class="background">
        <img src="../images/home-backgr2.jpg" width="100%">
      </div>
    </div></li>
    <li><a href="/"><i class="fas fa-home"></i>Travel Diary</a></li>
    <li><a href="/trips/new"><i class="fas fa-map-marker-alt"></i>Add a Trip</a></li>
    <li><a href="/trips/mine"><i class="fas fa-list-ul"></i>My Trips</a></li>
    <li><a href="/dashboard"><i class="fas fa-user-cog"></i>Dashboard</a></li>
    <li><div class="divider"></div></li>
    <li><a href="/users/logout"><i class="fas fa-sign-out-alt"></i>Log out</a></li>
  </ul>
<script>
  
</script>