<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
    {{#if user}}
        <li><a href="/trips/new">Add Trip</a></li>
        <li class="divider"></li>
        <li><a href="/users/logout">Log out</a></li>
    {{else}}
        <li><a href="/users/register">Sign up</a></li>
        <li><a href="/users/login">Log in</a></li>
    {{/if}}
</ul>
<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Travel Diary</a>
    <ul class="right hide-on-med-and-down">
        <li><a href="/trips">All Trips</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">{{user.email}}<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>