<div class="container" style="text-align: center;">
  <div class="card" id="auth-card">
    <div class="card-content">
      <h2>Welcome</h2>
      <!-- loop through the errors and display the validation message -->
      {{#each errors}}
        <p>{{text}}</p>
      {{else}}
      {{/each}}

      <div class="row">
        <form class="col s12" action="/users/login" method="post">
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate" name="email" value="{{email}}" required>
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input placeholder="Minimum 6 characters" id="Password" type="password" class="validate" name="password" minlength="5" value="{{password}}" required>
              <label for="password">Password</label>
            </div>
          </div>
          <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">Log in</button>
            <br>
            <br>
            <a class="btn deep-orange darken-1" href="/users/google"><i class="fab fa-google"></i>  Log in with Google</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>